{% extends "_layout.njk" %}


{% block content %}
<!--<script>setInterval(() => location.reload(), 4000)</script>-->
<main class="container">
  <div>
    <table class="table">
      <tr>
        <th>ID</th>
        <td>{{ identifier if identifier else '' }}</td>
      </tr>
      <tr>
        <th>permalink</th>
        <td>{{ permalink if permalink else '' }}</td>
      </tr>
      <tr>
        <th>pathname</th>
        <td>{{ pathname if pathname else '' }}</td>
      </tr>
      <tr>
        <th>dirname</th>
        <td>{{ dirname if dirname else '' }}</td>
      </tr>
      <tr>
        <th>view path</th>
        <td>{{ viewPath if viewPath else '' }}</td>
      </tr>
    </table>
  </div>
</main>
{% endblock content %}

{% block endbody %}

{% endblock endbody %}