{% set canonical = "https://www.webmanajemen.com/page/bot-detect.html" %}
{% set lang = "en" %}
{% extends '_layout.njk' %}

{% block head %}
<style>
  td {
    word-wrap: anywhere;
  }

  ol.breadcrumb li {
    display: inline;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
</style>
{% endblock head %}

{% block title %}Javascript Bot Detector Tools - WMI{% endblock title %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="mb-3 col-md-12">
      <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb" id="BreadcrumbList">
        <li class="me-1" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="https://webmanajemen.com"> <span itemprop="name">Homepage</span></a>
          <meta itemprop="position" content="1" />
        </li>
        ›
        <li class="me-1" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="https://webmanajemen.com/page"> <span itemprop="name">Page</span></a>
          <meta itemprop="position" content="2" />
        </li>
        ›
        <li class="me-1" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="https://www.webmanajemen.com/page/bot-detect">
            <span itemprop="name">Selenium Checker</span></a>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
    </div>

    <div class="text-center col-md-12">
      <h1>is iam bot ?</h1>
      <p>
        <a href="https://www.webmanajemen.com/page/bot-detect"
          target="_blank">https://www.webmanajemen.com/page/bot-detect</a>
        -
        <a href="https://codepen.io/dimaslanjaka/pen/OJpQBzJ" rel="nofollow noopener noreferrer" target="_blank">Source
          Code</a> - <span id="sid"></span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td>Selenium</td>
            <td><span id="selenium">Message Result</span></td>
          </tr>
          <tr>
            <td>IP</td>
            <td id="ip"></td>
          </tr>
          <tr>
            <td>UA</td>
            <td id="ua"></td>
          </tr>
          <tr>
            <td>Proxy</td>
            <td><span id="isProxy">false</span> <span id="theProxy">-</span></td>
          </tr>
          <tr>
            <td>ID</td>
            <td><span id="unique-id">undefined</span></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <table id="cookies" class="table">
        <thead>
          <tr>
            <th>Cookie Key</th>
            <th>Cookie Value</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="col-12">
      <table class="table" id="navigator">
        <thead>
          <tr>
            <th>Navigator Key</th>
            <th>Navigator Value</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</main>

<!--<script src="https://raw.githack.com/dimaslanjaka/page/master/bot-detect.js?v=1"></script>-->
{% endblock content %}

{% block endbody %}
<script src="/page/assets/js/bot-detect.js?v=2"></script>
{% endblock endbody %}