<!DOCTYPE html>
<html lang="{{ lang or 'en' }}">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="content-language" content="{{ lang or 'en' }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}{% endblock %}</title>
	<link href="https://www.webmanajemen.com/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="icon" type="image/png" sizes="32x32" href="https://www.webmanajemen.com/favicon-32x32.png" />

	{% if canonical %}
	<link rel="canonical" href="{{ canonical }}" />
	<link rel="alternate" href="{{ canonical }}" hreflang="x-default" />
	{% endif %}

	<link rel="manifest" href="https://www.webmanajemen.com/manifest.json" />
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
	{% block head %}{% endblock %}
</head>

<body>
	{% block content %}{% endblock %}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-106238155-1"></script>
	<script async="" src="/page/assets/js/analystic.js?hash=GEN-HASH"></script>

	{% block endbody %}{% endblock endbody %}
</body>

</html>