{% extends '_layout.njk' %}

{% block title %}Moment Timezone Playground{% endblock %}

{% block head %}
<meta name="description" content="Moment Timezone Online Playground For Free. Support custom format pattern">
<link rel="alternate" href="https://codepen.io/dimaslanjaka/pen/LYegjaV" />
<link rel="canonical" href="/page/moment-timezone.html" />
<!-- defer bootstrap -->
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" as="style"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</noscript>
<!-- defer stylesheet -->
<link rel="preload" as="style" href="moment-timezone.css" onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
  <link rel="stylesheet" href="moment-timezone.css">
</noscript>

<link href="https://www.webmanajemen.com/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="manifest" href="https://www.webmanajemen.com/manifest.json" />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="node_modules/moment/min/moment-with-locales.min.js"></script>
<script src="node_modules/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
{% endblock head %}

{% block content %}
{% include "./moment-timezone.content.njk" %}
{% endblock content %}