{% extends '_layout.njk' %}

{% block title %}Insurance | layout 1{% endblock %}

{% block head %}
<meta name="description" content="Moment Timezone Online Playground For Free. Support custom format pattern">
<!-- defer bootstrap -->
<link rel="preload" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" as="style"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</noscript>
<style>
  #ads-left,
  #ads-right,
  #contents {
    border: 1px;
    min-height: 500px;
    min-width: 100px;
  }
</style>
{% endblock head %}

{% block content %}
<main>
  <section class="row">
    <div id="ads-left" class="col-md-3"></div>
    <div id="contents" class="col-md-6"></div>
    <div id="ads-right" class="col-md-3"></div>
  </section>
</main>
{% endblock content %}

{% block endbody %}
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
{% endblock endbody %}