{% extends "_layout.njk" %}


{% block content %}
<script>setInterval(() => location.reload(), 4000)</script>
{% endblock content %}

{% block endbody %}
<script src="//www.webmanajemen.com/r-ads.js?hash=GEN-HASH"></script>
{% endblock endbody %}