<div class="container mb-4">
  <div class="text-center">
    <h1><a href="https://www.webmanajemen.com/page/moment-timezone.html" target="_blank">Moment Timezone
        Playground</a>
    </h1>
    <small class="text-muted">Parse and display dates in any timezone.</small>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label for="date">Date Input</label>
      <input type="text" id="date" class="form-control mb-2">
    </div>
    <div class="col-md-6">
      <label for="pattern">Format Pattern</label>
      <input type="text" class="form-control mb-2" placeholder="LLLL" id="pattern">
    </div>
    <div class="col-6">
      <button id="start-interval" class="btn btn-sm btn-warning">start interval</button>
      <button id="stop-interval" class="btn btn-sm btn-danger">stop interval</button>
      <button id="copy-moment" class="btn btn-sm btn-success">Copy</button>
    </div>
    <div class="col-md-6">
      <span class="mr-2">Result:</span> <span id="moment-result"></span>
    </div>
  </div>
</div>

<!-- banner horizontal -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2188063137129806" data-ad-slot="4695444437"
  data-ad-format="auto" data-full-width-responsive="true"></ins>