// malfunction keyboard 56^%

// load fonts
@import url('//cdn.statically.io/gh/dimaslanjaka/Web-Manajemen/fontawesome-pro/css/all.min.css');
// $fa-font-path: '~@fontawesome/fontawesome-svg-core/webfonts';
// @import '@fontawesome/fontawesome-svg-core/scss/all';
@import url('../fonts/index.scss');

body,
html {
  height: 100%;
}

label,
h1,
h2,
h3,
h4,
h5,
h6,
tr th,
b {
  font-family: 'Cera Pro Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

i:not([class^='fa-']) {
  font-family: 'Cera Pro Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

* {
  word-wrap: break-word;
  max-width: 100%;
  font-family: 'Cera Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#app {
  height: 100%;
  width: 100%;
}

/* hide unfilled ads */
ins.adsbygoogle[data-ad-status='unfilled'] {
  display: none !important;
}

/* copy button on pre tag */
.copy-code-button {
  border-radius: 0;
  min-width: 55px;
  background: none repeat scroll 0 0 transparent;
  // background-color: #000;
  // color: #f1f2f3 !important;
  cursor: pointer;
  /* border: 1px solid #bbb;
	border: 0; */
  border-style: none;
  font-family: 'HELVETICA', sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.42rem;
  margin: 0;
  /* padding: 6px 10px 10px;
	padding: 0px 5px; */
  padding: 3px 8px;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;

  /* right-align
	display: block;
	margin-left: auto;
	margin-right: 0;

	margin-bottom: -2px;
	padding: 3px 8px; */
}

.copy-code-button > span {
  color: #f1f2f3 !important;
}

.copy-code-button,
::before,
::after {
  box-sizing: inherit;
}

.copy-code-button::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  background-color: white;
  background-size: contain;
  background-image: url('//static.thenounproject.com/png/4565777-200.png');
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}

/* .copy-button::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
} */

/* .copy-code-button:hover {
	cursor: pointer;
	background-color: #F2F2F2;
} */

/* .copy-code-button:active {
	background-color: #D9D9D9;
} */

.copy-code-button:focus {
  /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See //stackoverflow.com/a/25298082/1481479 */
  /* background-color: #E6E6E6; */
  outline: 0;
}

pre {
  padding-top: 22px;
  position: relative;
  // color: #fff;
  // background-color: #000;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

  code {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
}
