// @import '../../../node_modules/bootstrap/scss/bootstrap';

@import 'bootstrap/scss/bootstrap';

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

* {
  word-wrap: break-word;
  max-width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}

/* hide unfilled ads */
ins.adsbygoogle[data-ad-status="unfilled"] {
  display: none !important;
}