<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>London</td>
        <td>Sydney</td>
        <td>Beijing</td>
        <td>Tokyo</td>
        <td>San Francisco</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="clock" id="london"></div>
          <br />
        </td>
        <td>
          <div class="clock" id="sydney"></div>
          <br />
        </td>
        <td>
          <div class="clock" id="beijing"></div>
          <br />
        </td>
        <td>
          <div class="clock" id="tokyo"></div>
          <br />
        </td>
        <td>
          <div class="clock" id="la"></div>
          <br />
        </td>
      </tr>
    </tbody>
  </table>
</div>