{% set canonical = "https://www.webmanajemen.com/page/google-analytics-reporting-api.html" %}
{% set lang = "en" %}
{% extends '_layout.njk' %}

{% block head %}
<style>
  #debug {
    height: 300px;
    overflow: scroll;
  }
</style>
<meta rel="alternate" url="https://codepen.io/dimaslanjaka/pen/yLGePVj" />
{% endblock head %}

{% block content %}
<main class="container">
  <h1 class="h3">Demonstration of Embed API from Reporting of Google Analytics using new <b>GSI client</b></h1>

  <section class="mb-2"><div class="g_id_signin" data-type="standard"></div></section>

  <sectrion class="mb-2">
    <span>select account</span>
    <select id="accountSelector" class="form-control"></select>
  </sectrion>

  <span>debugs:</span>
  <section id="debug"></section>
  <section>
    <h2 class="h4">References</h2>
    <ul>
      <li>Original: <a href="https://stackoverflow.com/a/25945924/3003133">stackoverflow.com/a/25945924/3003133</a></li>
      <li><a href="https://developers.google.com/chart/interactive/docs/gallery/geochart#Configuration_Options">Google
          Charts: GeoChart Configuration Options</a></li>
      <li><a href="https://developers.google.com/analytics/devguides/reporting/embed/v1/getting-started">Google
          Analytics - Reporting: Getting Started with Embed API</a></li>
      <li><a href="https://github.com/google/google-api-javascript-client/blob/master/docs/auth.md">Google API:
          JavaScript Client Authentication</a></li>
      <li><a href="https://github.com/google/google-api-javascript-client/blob/master/docs/start.md">Google API: Getting
          Started with JavaScript Client</a></li>
      <li><a href="https://console.cloud.google.com/apis/credentials">Google Console: Service Credentials</a></li>
    </ul>
  </section>
</main>
{% endblock content %}

{% block endbody %}
<!-- Load the JavaScript API client and Sign-in library. -->
<!--<script src="https://apis.google.com/js/client:platform.js"></script>-->
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://accounts.google.com/gsi/client"></script>
<script src="/page/assets/js/google-analytics-reporting-api.js"></script>
{% endblock endbody %}