// Configuration
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// Layout and components
@import 'bootstrap/scss/tables';

body {
  --table-width: 100%;
  /* Or any value, this will change dinamically */
}

#bot-detector {
  h3,
  h1,
  h2 {
    text-transform: capitalize;
  }

  tbody {
    display: block;
    /*max-height: 500px;
    overflow-y: auto;*/
  }

  thead,
  tbody tr {
    display: table;
    width: var(--table-width);
    table-layout: fixed;
  }

  table {
    width: 100%;
  }

  td {
    word-wrap: break-word;
  }

  ol.breadcrumb li {
    display: inline;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
